*{
    font-family: Montserrat;
}
.box{
  
  background-color: rgb(255, 255, 255);
  width: 350px;
  height: 400px;
  padding: 30px;
 
}
.box h2{
  font-size: 30px;
}

.category {
  background-color: #f6f6f6;
  height: 36px;
}

