.boxsignup {
    border: 1px solid black;
    width: max-content;
    padding: 20px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    
  }
  
  .boxsignup .input {
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    outline-color: transparent;
    
  }
  
  .boxsignup button {
    width: 100%;
    height: 48px;
    /* border-color: transparent; */
    background-color:#E5A935;
    color: whitesmoke;
    font-weight: 900;
  }
  .boxsignup button:hover {
    background-color: white;
    color: #002f34;
    border: 2px solid #002f34;
  }
  
  .boxsignup a {
    display: flex;
    justify-content: center;
    cursor: pointer;
  }

 
  