.centerDiv {
  position: absolute;
  width: 1300px;
  height: 800px;
  left: 248px;
  top: 175px;

  background: #F6F6F6;
}

.input {
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  outline-color: transparent;
  margin-bottom: 35px;
  background-color: transparent;
}

.uploadBtn {
  background-color: #E5A935;
  color: #fff;
  padding: 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 22px;
  
}

.uploadBtn:hover {
  background-color: white;
  color: #E5A935;
  border: 2px solid #E5A935;
}

.centerDiv label {
  font-weight: bold;
}