.centerDiv {
  position: absolute;
  width: 1350px;
  height: 800px;
  left: 298px;
  top: 175px;

  background: #F6F6F6;
}
.centerDiv p{
  font-size: 25px;
  font-weight: 500;
}



.title{
  position: absolute;
  width: 1200px;
  height: 65px;
  left: 50px;
  top: 65px;
  border-style: solid;
  background: #Fff;
  border-color: #d9d9d9;
  border-width: 1px;
}

.description{
  position: absolute;
  width: 1200px;
  height: 150px;
  left: 50px;
  top: 130px;
  border-style: solid;
  background: #Fff;
  border-color: #d9d9d9;
  border-width: 1px;
}
.location{
  position: absolute;
  width: 550px;
  height: 70px;
  left: 700px;
  top: 320px;
  border-style: solid;
  background: #Fff;
  border-color: #d9d9d9;
  border-width: 1px;
}

.categories{
  position: absolute;
  width: 550px;
  height: 70px;
  left: 700px;
  top: 420px;
  border-style: solid;
  background: #Fff;
  border-color: #d9d9d9;
  border-width: 1px;

}

.price{
  position: absolute;
  width: 550px;
  height: 70px;
  left: 700px;
  top: 530px;
  border-style: solid;
  background: #Fff;
  border-color: #d9d9d9;
  border-width: 1px;
}

.posts{
  position: absolute;
  width: 600px;
  height: 390px;
  left: 50px;
  top: 320px;
  border-style: solid;
  background: #Fff;
  border-color: #d9d9d9;
  border-width: 1px;
}


.uploadBtn {
  position: absolute;
  width: 400px;
  height: 70px;
  left: 725px;
  top: 315px;
  background-color: #E5A935;
  color: #fff;
  padding: 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 22px;
  
}

.uploadBtn:hover {
  background-color: white;
  color: #E5A935;
  border: 2px solid #E5A935;
}

.centerDiv label {
  font-weight: 500;
  
}

.centerDiv input[type=text]:focus {
 
  font-weight: 500;
}