.product-list {
  width: 100%;
  padding: 16px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  overflow-x: auto;
}

.main-content {
  display: flex;
  flex-wrap: nowrap;
  gap: 7px; 
}

