.account {
  margin: 40px 300px;
  width: 1280px;
  position: absolute;
  min-height: 80vh;
  background: #F6F6F6;
}


.account-container {
  margin: 30px 40px;
  background-color: #fff;
  border: 1px solid #d9d9d9;

  max-width: 1600px;
}


.profile-info {
  margin: 20px 0;
}

profile-info h2 {
  font-size: 20px;
}

.buttons {
  margin-top: -60px;
  justify-content: space-between;
}

.account-button {
  padding: 5px 15px;
  margin-right: 20px;
  min-height: 4vh;
  min-width: 20vh
}



.orders {
  /* margin-top: 20px ; */
  margin: 70px 40px;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 20px;
  max-width: 1600px;
  min-height: 30vh;
}
  